<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bakingstory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ApplicationBakingStory"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeColdStart"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".recipes_collection.ActivityRecipesList"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".recipe_details.baking_steps.ActivityBakingStepsList"
            android:label="@string/app_name"
            android:parentActivityName=".recipes_collection.ActivityRecipesList"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".recipe_details.ActivityBakingStepDetails"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_recepieitem_detail"
            android:parentActivityName=".recipe_details.baking_steps.ActivityBakingStepsList"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".widget_ingredients.IngredientService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".widget_ingredients.HomeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/home_widget_info" />
        </receiver>

        <activity
            android:name=".widget_ingredients.HomeWidgetConfigureActivity"
            android:theme="@style/AppThemeColdStart">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>